@using (@Html.BeginForm("Ara", "Home", FormMethod.Get, new { @class = "form-inline navbar-search" }))

{
    <input id="" name="b" class="srchTxt" type="text" placeholder="Arama" />

    <button type="submit" id="submitButton" class="btn btn-primary">Ara</button>
}